<form
  [formGroup]="form"
  (ngSubmit)="submitForm()">
  <div class="row mb-3">
    <div class="col-7">
      <textarea
        class="form-control"
        formControlName="nameservers"
        placeholder="Enter nameservers (one per line)"
        rows="10">
      </textarea>
    </div>
    <div class="col-5 d-flex flex-column justify-content-end">
      <div class="mt-auto">
        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="form.invalid">
          Add
        </button>
      </div>
    </div>
  </div>
</form>
