<div class="container">
  <h2>Nameservers</h2>
  <p>
    From here you can add and remove nameservers for this domain. When you have
    finished click Save.
  </p>

  <!-- Display domain information -->
  <ntt-display-table [nameservers]="nameservers$ | async" />

  <h3>Add Nameservers</h3>
  <p>
    Add single or multiple nameservers here. Please add each entry on a separate
    line. For .uk domains, you can have a maximum of 10 nameserver records per
    domain.
  </p>

  <!-- Add Nameserver Component -->
  <ntt-add-name-server (formSubmit)="onAddNameserver($event)" />
  <!-- Display Success or Error Message -->
  <div
    *ngIf="successMsg$ | async"
    class="alert alert-success alert-dismissible"
    role="alert"
  >
    {{ successMsg$ | async }}
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
      (click)="onResetMessage()"
    ></button>
  </div>

  <div
    *ngIf="errorMsg$ | async"
    class="alert alert-danger alert-dismissible"
    role="alert"
  >
    {{ errorMsg$ | async }}
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
      (click)="onResetMessage()"
    ></button>
  </div>
</div>
